/*
 * CurtisAndRebecca.com
 * style.css
 * Copyright 2007-2009 Curtis Free and Rebecca Drake. All rights reserved.
 */

body {
    background-color: #006600;
    color: #FFFFFF;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

img#main {
    border: 0.75em solid #FFFFFF;
}

p#tagline {
    font-weight: bold;
}

