# CurtisAndRebecca.com
# .htaccess
# Copyright 2008 Curtis Free and Rebecca Drake. All rights reserved.

# Enable the RewriteEngine.
RewriteEngine on

# Remove subdomains (including "www").
RewriteCond %{HTTP_HOST} ^.*\.CurtisAndRebecca\.com$ [NC]
RewriteRule ^(.*)$ http://CurtisAndRebecca.com/$1 [L]

# Wedding
## Convert short URL forms to GET ("page") data.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^wedding/(.*)$ wedding/index.php?page=$1

